* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f3f6ff;
}

.nav {
  background: linear-gradient(90deg, #ff4fa3, #4f8cff);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.container {
  padding: 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: white;
  padding: 30px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px lightgray;
}

.footer {
  background: #4f8cff;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}